@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
	.pause {
	  animation-play-state: paused;
	}
  }

html,

body {
	font-family: Inter, -apple-system, BlinkMacSystemFont, avenir next, avenir,
	  segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
	  sans-serif;
	color: #111;
	background: #fff;
	font-variant-numeric: tabular-nums;
}

.gradient-text {
	--bg-size: 400%;
	background: linear-gradient(90deg, hsl(250, 87%, 64%), #a788ec, #a0b8ef) 0 0 /
	  var(--bg-size) 100%;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	filter: drop-shadow(0px 3.5px #c0beea8f);
  }
  